.bg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

}
.layar{

height: 55vh;
background: rgba(0, 0, 0, 0.814);

}
.page{
  height: 90vh;
  width: 100%;
  background: var(--bg-main);
  overflow-x: hidden;
}
