<div *ngIf="!isLoading" class="container-fluid">
  <div class="d-flex justify-content-center align-items-center my-5">
    <h2 class="">Popular people on TMDB</h2>
  </div>
  <div class="my-4">
    <p-paginator (onPageChange)="onPageChange($event)" styleClass=" bg-transparent" [first]="first" [rows]="rows" [totalRecords]="totalPages" [showJumpToPageDropdown]="true" [showPageLinks]="false"></p-paginator>

  </div>

  <div class="row g-4 mb-5">

    <div class="col-lg-2 col-6 col-md-4" *ngFor="let item of itemsPage.slice(0,18)">
      <a [routerLink]="['/peopledeteils', item.id, 'person']">
      <div class="card bg-dark text-center position-relative">
        <img [src]="'https://image.tmdb.org/t/p/w500/'+item.profile_path" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>{{item.name.split(' ').slice(0,2).join()}}</h5>
        </div>
      </div>
      </a>
    </div>

  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
