@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
:root{
  --bg-main:#131722;
  --bg-main2:#24baef;
  --main-font:'Montserrat Alternates', sans-serif;
}
.bg-main{
  background: var(--bg-main);
}
.bg-main2{
  background: var(--bg-main2);
}
.text-main2{
  color: var(--bg-main2);
}
body{
  background: var(--bg-main);
  font-family: 'Open Sans', sans-serif;
      color: #fff;
}
a,a:hover{
  text-decoration: none;
  color: #fff;

}
.card{
  transition: all 0.5s !important;
  overflow: hidden;
  cursor: pointer;
}
.card:hover{
  transform: scale(0.98);
}

.form-control{
  margin-bottom: 10px !important;
}

